.bttn1{
    margin-left:40% !important;
    
}
.react-calendar{
    border: 2px solid black;
    width: 50%;
    height: 20%;
}
.calendarheading{
    padding-left: 20%;
}
.calendar{
    display: flex;
}
.date1{
   margin-top: 100px;
    margin-left: -250px;
}