.box1{
    height:250px;
    width:250px;
    background-color: white;
    border-top: 15px solid springgreen;
    margin-top: 10px;
    border-radius: 20px;
}
.box2{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 float: center;
 
 text-align: center;
 padding: 150px 0;
 
}