.box1{
    height:200px;
    width:200px;
    background-color: white;
    border-radius: 10px;
   
    
   
    
}

.dashboardBoxes{
    margin-top: 3%;
    margin-left: 10%;
}
.secondRowDashboard{
    margin-top: 3%;
}

.icons{
    color:springgreen;
    position: relative;
    left:33%;
    top:20%;
    font-size:70px;
}

.boxText{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 float: center;
 
 text-align: center;

 
}
.boxNr{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 40px;
    float: center;
    font-size:x-large

}