.div-login {
  position: absolute;
  width: 200%;
  max-width: fit-content;
  padding: 100px 100px 100px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  color: #dbdbdb;
  top: 50%;
  left: 45%;
  margin: -180px 0 0 -220px;
}
.idjaMiresevini {
  color: rgb(44, 197, 44);
  position: absolute;
  font-size: 30px;
  top: 10%;
  left: 37%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial;
}
.idja2Miresevini {
  color: rgb(44, 197, 44);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial;
  font-size: 15px;
  margin-left:30px;
}
.div-login-logo {
  height: 50px;
  width: 50px;
  align-self: center;
}
.email {
  padding-bottom: 15px;
  width: 200px;
  align-items: center;
  border-radius: 5px;
  margin-left: 50px;
}
.password {
  padding-bottom: 15px;
  width: 200px;
  margin-left: 50px;
}
.buttons {
  padding-left: 20%;
}
.button12 {
  width: 40%;
  margin: 5px 0;
  background-color: #90ee90;
  font-family: "Open Sans Condensed", sans-serif;
  padding: 5px;
  font-weight: 600;
  border: none;
  color: green;
  border-radius: 100px;
  margin-left: 40px;
}

::placeholder {
  color: rgba(0, 0, 0, 0.61);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: fit-content;
}
input {
  width: 110%;
  border: 1px solid #dbdbdb;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  box-shadow: none;
  font-family: "Open Sans Condensed", sans-serif;
  height: 30px;
}
.email {
  margin-top: 15px;
}

body {
  background-image: url("../assets/backgroundi-JS.jpg");
  background-size:100%;
  font-family: sans-serif;
  background-repeat: no-repeat;
}
