
  

  /*Ndryshimi i vendit*/
  
 /* .form-content-left {
    background: linear-gradient(
      90deg,
      rgb(39, 176, 255) 0%,
      rgb(0, 232, 236) 100%
    );
    border-radius: 10px 0 0 10px;
    position: relative;
  }
  Background i Login*/
  .form-img {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .form-img-2 {
    width: 60%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .form-success {
    text-align: center;
    font-size: 16px;
    margin-top: 80px;
    color: rgb(230, 216, 216);
  }
  /*Pasi te krijosh llogarin*/
  
  .form-content-right {
    position: absolute;
    width: 10%;
    height: 60%;
   
    padding: 100px 100px 100px;
    background:rgba(0,0,0,0.7);
    border-radius: 20px;
    color:#dbdbdb;
    top: 50%;
    left: 50%;
    margin: -180px 0 0 -220px;
  }
  .form-content-success {
    position: absolute;
    width: 15%;
    height: 5%;
    padding: 100px 100px 100px;
    background: rgba(0,0,0,0.7);
    border-radius: 20px;
    color: #dbdbdb;
    top: 50%;
    left: 50%;
    margin: -180px 0 0 -220px;
    text-align: center;
  }
  /*Backgroundi i Register*/
  .form-success{
    text-align: center;
    width: 300px;
    margin-left: -40px;
    font-size: 16px;
    margin-top: -20px;
    /* margin-top: 80px; */
    color: rgb(230, 216, 216);
   
  }
  .form {
    position: absolute;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /*Register in Center*/
  
  .form h1 {
    color:rgb(44, 197, 44);
    position:relative;
    font-size: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial,;
  }
  /*Filloni.. change*/
  
  .form-inputs {
    margin-bottom: 0.5rem;
    width: 80%;
    border-radius: 15px;
  }
  /*Box Size*/
  
  .form-inputs p {
    font-size: 0.6rem;
    margin-top: 0.5rem;
    color: #f00e0e;
  }
  /*Error me tkuqe*/

  .form-label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 6px;
    color: #fff;
  }
  /*Username email etc*/
  
  .form-input {
    display: block;
    border: 1px solid #dbdbdb;
    background-color: rgba(255,255,255, 0.6);
    border-radius: 15px;
    box-shadow: none;
    font-family: 'Open Sans Condensed', sans-serif;
   width: 90%;
   height: 2em;
  }
  /*BOX*/
  
  .form-input::placeholder {
    color: #595959;
    font-size: 12px;
  }
  /*boxname change*/
  
  .form-input-btn {
    width: 40%;
    margin: 5px 0;
    background-color:#90EE90;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 5px;
    font-weight: 600;
    border: none;
    color: green;
    border-radius: 100px;
  }
  /*Kyquni*/
  .form-input-btn:hover {
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgb(13, 173, 21) 0%,
     
    );
    transition: all 0.4s ease-out;
  }
  
  .form-input-login {
    font-size: 0.8rem;
    margin-top: 10px;
    color: #fff;
    width: 80%;
    text-align: center;
  }
  /*posedoni*/
  
  .form-input-login a {
    text-decoration: none;
    color: #27cdff;
    font-weight: 600;
  }
  /*Ketu*/